@import '_var_admin.scss';

.add-clinic-page {

    .container {

        .page-content-card {
            
            .row-wrapper {
                
                .form-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    width: 100%;
                    max-width: unset;

                    small.error {
                        color: red;
                        text-indent: 5px;
                    }

                    .form-input-wrapper {

                        &.top-align {
                            align-items: flex-start;
                        }
                        
                        
                        .form-title {
                            
                        }

                        .form-items {
                            flex-grow: 1;

                            &.row {
                                display: flex;
                                flex-direction: row;
                                column-gap: 20px;
                                margin: 0;
                                
                                input {
                                    max-width: 130px;
                                }

                                .separator-line {
                                    display: grid;
                                    place-items: center;
                                    width: fit-content;
                                    font-weight: 600;
                                }

                                .error {
                                    padding: 0;
                                    text-indent: 5px;
                                    flex-basis: 100%;
                                }
                            }
                        }

                        textarea {
                            min-height: 220px;
                        }
                        
                    }

                }
            }

            .map-container {
                width: 100%;
                height: 420px;
                background-color: $LightWhite;
                border-radius: 4px;
                overflow: hidden;

                #map {
                    width: 100%;
                    height: 100%;
                }
            }

            .image-uploads-container {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                justify-content: flex-start;
                flex-wrap: wrap;

                .image-container {
                    width: 100%;
                    max-width: 320px;
                    aspect-ratio: 1 / 1;
                    background-color: $LightWhite;
                    border-radius: 4px;
                    overflow: hidden;
                    position: relative;

                    .hover-overlay {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        display: grid;
                        place-items: center;
                        z-index: 1;
                        background-color: rgba(0,0,0,0.8);
                        transition: all ease-in-out 0.3s;
                        opacity: 0;

                        i {
                            font-size: 1.5rem;
                            color: $PrimaryRed;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all ease-in-out 0.3s;
                    }

                    &:hover {
                        cursor: pointer;

                        .hover-overlay {
                            opacity: 1;
                        }

                        img {
                            transform: scale(1.2);
                        }
                    }

                    &#image-upload-triggered {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        align-items: center;
                        justify-content: center;
                        
                        * {
                            color: $TextLighter;
                        }

                        i {
                            font-size: 2rem;
                        }

                        &:hover {
                            cursor: pointer;
                            background-color: darken($LightWhite, 2%);

                            * {
                                color: $PrimaryBlue;
                            }
                        }

                    }

                }
            }

            .button-wrapper {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;

                .submit-button {
                    @include button-default-ic($bg: $PrimaryBlue, $color: white, $bg_hover: $PrimaryGreen, $color_hover: white);
                }
            }

        }


        section.doctors {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-direction: row;
            column-gap: 20px;
            row-gap: 20px;
            flex-wrap: wrap;
            margin-top: 10px;

            .section-wrapper {
                display: flex;
                flex-direction: column;
                gap: 20px;
                
                .wrapper-head {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    column-gap: 20px;
                    row-gap: 10px;
                    flex-wrap: wrap;
                    width: 100%;

                    .title {
                        font-weight: 600;
                        letter-spacing: 2px;
                    }
                }

                .wrapper-wrap {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
            }

            .registered-card-wrapper {
                flex-grow: 1;
                flex-basis: 320px;

                .wrapper-wrap {
                    
                    .doctor-card {
                        display: flex;
                        flex-direction: row;
                        column-gap: 20px;
                        row-gap: 10px;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        height: fit-content;
                        position: relative;
                        border-bottom: 1px $CardBorder solid;
                        padding-bottom: 10px;

                        .image-container {
                            width: 90px;
                            height: 90px;
                            border-radius: 50%;
                            overflow: hidden;

                            &:hover {
                                cursor: pointer;

                                img {
                                    transform: scale(1.2);
                                }
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: all ease-in-out 0.3s;
                            }

                            .no-image {
                                @include no-image-i();
                            }
                        }

                        .details-container {
                            display: flex;
                            flex-direction: column;
                            height: fit-content;
                            align-items: flex-start;
                            justify-content: center;
                            flex-basis: 120px;
                            width: fit-content;

                            .name {
                                font-weight: 600;
                            }
                            .hours {
                                font-size: 0.9rem;
                                letter-spacing: 2px;
                            }
                        }

                        .button-container {
                            width: 100%;
                            flex-basis: 120px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: flex-end;
                            gap: 5px;
                            flex-grow: 1;
                            height: fit-content;

                            .btn {
                                @include button-default-ic($bg: $PrimaryRed, $color: white, $bg_hover: $PrimaryDark, $color_hover: white);
                                width: fit-content;

                                * {
                                    font-size: 0.8rem;
                                }
                            }
                        }

                    }
                }
            }

            .add-card-wrapper {
                flex-basis: 420px;
                flex-grow: 4;
                height: fit-content;

                .wrapper-head {

                    .doctor-search-input {
                        
                        .form-title {
                            font-weight: 600;
                            letter-spacing: 2px;
                        }
                    }
                }

                .wrapper-wrap {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .doctor-card {
                        display: flex;
                        flex-direction: row;
                        column-gap: 20px;
                        row-gap: 10px;
                        align-items: stretch;
                        justify-content: flex-end;
                        flex-wrap: wrap;
                        width: 100%;
                        border-bottom: 1px $CardBorder solid;
                        padding-bottom: 10px;

                        .image-container {
                            width: 120px;
                            height: 120px;
                            border-radius: 4px;
                            overflow: hidden;

                            &:hover {
                                cursor: pointer;

                                img {
                                    transform: scale(1.2);
                                }
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                transition: all ease-in-out 0.3s;
                            }
                        }

                        .details-container {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            align-items: flex-start;
                            justify-content: space-between;
                            flex-grow: 1;

                            .name-wrapper, .hours-wrapper {
                                display: flex;
                                flex-direction: column;

                                .sip {
                                    font-size: 1rem;
                                    color: $TextLighter;
                                }

                                .name {
                                    font-size: 1.1rem;
                                    font-weight: 600;
                                }

                                .label {
                                    font-size: 0.9rem;
                                    color: $TextLighter;
                                }

                                .hours {
                                    font-size: 1rem;
                                    font-weight: 600;
                                    color: $PrimaryBlue;
                                }
                            }
                        }

                        .form-container {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            flex-basis: 260px;
                            flex-grow: 1;

                            .form-input-wrapper {
                                flex-direction: row;
                                align-items: center;
                                justify-content: space-between;
                                flex-wrap: wrap;
                                
                                .form-title {
                                    display: block;
                                    width: 80px;
                                    flex-basis: 120px;
                                    overflow: hidden;
                                }
                                
                                .form-items {
                                    width: 150px;

                                    input {
                                        width: 100%;
                                    }
                                }
                            }
                            
                            .button-container {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                justify-content: flex-end;

                                .submit-button {
                                    @include button-default-ic($bg: $PrimaryBlue, $color: white, $bg_hover: $PrimaryGreen, $color_hover: white);
                                    
                                    i, span {
                                        font-size: 0.8rem;
                                    }
                                }
                            }

                        }

                    }
                }

            }

        }

    }
}