@import '_var_admin.scss';

.add-news-page {

    .container {

        .page-content-card {

            .row-wrapper {
                
                .form-wrapper {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    width: 100%;
                    max-width: unset;

                    small.error {
                        color: red;
                        text-indent: 5px;
                    }

                    .form-input-wrapper {

                        &.top-align {
                            align-items: flex-start;
                        }
                        
                        
                        .form-title {
                            
                        }

                        .form-items {
                            flex-grow: 1;

                            &.row {
                                display: flex;
                                flex-direction: row;
                                column-gap: 20px;
                                margin: 0;
                                
                                input {
                                    max-width: 130px;
                                }

                                .separator-line {
                                    display: grid;
                                    place-items: center;
                                    width: fit-content;
                                    font-weight: 600;
                                }

                                .error {
                                    padding: 0;
                                    text-indent: 5px;
                                    flex-basis: 100%;
                                }
                            }
                        }

                        textarea {
                            min-height: 220px;
                        }
                        
                    }

                }
            }

            .image-uploads-container {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
                justify-content: flex-end;
                flex-wrap: wrap;

                .image-container {
                    width: 100%;
                    max-width: 320px;
                    aspect-ratio: 1 / 1;
                    background-color: $LightWhite;
                    border-radius: 4px;
                    overflow: hidden;
                    position: relative;

                    .hover-overlay {
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        display: grid;
                        place-items: center;
                        z-index: 1;
                        background-color: rgba(0,0,0,0.8);
                        transition: all ease-in-out 0.3s;
                        opacity: 0;

                        i {
                            font-size: 1.5rem;
                            color: $PrimaryRed;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all ease-in-out 0.3s;
                    }

                    &:hover {
                        cursor: pointer;

                        .hover-overlay {
                            opacity: 1;
                        }

                        img {
                            transform: scale(1.2);
                        }
                    }

                    &#image-upload-triggered, &.image-upload-triggered {
                        display: flex;
                        flex-direction: row;
                        row-gap: 10px;
                        column-gap: 20px;
                        align-items: center;
                        justify-content: center;
                        aspect-ratio: unset;
                        height: 80px;
                        
                        * {
                            color: $TextLighter;
                        }

                        i {
                            font-size: 2rem;
                        }

                        &:hover {
                            cursor: pointer;
                            background-color: darken($LightWhite, 2%);

                            * {
                                color: $PrimaryBlue;
                            }
                        }

                    }

                }
            }

            .editor-container {
                width: 100%;
                height: fit-content;

                #editor {
                    width: 100%;
                    height: fit-content;
                    min-height: 350px;
                }
            }
   
            .button-wrapper {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-end;

                .submit-button {
                    @include button-default-ic($bg: $PrimaryBlue, $color: white, $bg_hover: $PrimaryGreen, $color_hover: white);
                }
            }
        }

    }

}