* {
  margin: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}

section {
  padding: 20px 0;
}

.mapbox-container {
  width: 100%;
  height: 400px;
  background-color: #e8e8e8;
}
.mapbox-container .map-object {
  width: 100%;
  height: 100%;
}

#main-navbar {
  padding: 10px 0;
}
#main-navbar .container {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 10px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap-reverse;
}
#main-navbar .container .content-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 10px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-grow: 4;
  flex-wrap: wrap;
}
#main-navbar .container .content-wrapper .logo-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  align-items: center;
  justify-content: center;
}
#main-navbar .container .content-wrapper .logo-wrapper:hover {
  cursor: pointer;
}
#main-navbar .container .content-wrapper .logo-wrapper .logo-container {
  width: 70px;
  height: 70px;
}
#main-navbar .container .content-wrapper .logo-wrapper .logo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#main-navbar .container .content-wrapper .logo-wrapper .logo-title {
  letter-spacing: 3px;
  font-size: 1.1rem;
}
#main-navbar .container .content-wrapper .logo-wrapper .logo-title .title-bold {
  font-weight: 600;
}
#main-navbar .container .content-wrapper .menu-wrapper {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-grow: 1;
  margin: 0;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
#main-navbar .container .content-wrapper .menu-wrapper li.button-li {
  margin-left: 20px;
}
#main-navbar .container .content-wrapper .menu-wrapper li .logout-button {
  background-color: #FF1616;
  font-weight: 600;
  color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
#main-navbar .container .content-wrapper .menu-wrapper li .logout-button:hover {
  background-color: #2A3034;
  color: white;
}
#main-navbar .container .content-wrapper .menu-wrapper li .logout-button.ico span {
  margin-left: 8px;
}
#main-navbar .container .content-wrapper .menu-wrapper li .logout-button.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
#main-navbar .container .content-wrapper .menu-wrapper li .logout-button.hovered:hover span {
  max-width: 200vw;
}
#main-navbar .container .content-wrapper .menu-wrapper li a {
  color: black;
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.3s;
}
#main-navbar .container .content-wrapper .menu-wrapper li a:hover {
  cursor: pointer;
  color: #1B75BC;
  font-weight: 600;
}
#main-navbar .container .description-box-shadow {
  background-color: red;
  flex-grow: 1;
  flex-basis: 300px;
  position: relative;
}
#main-navbar .container .description-box-shadow .description-box {
  min-width: 200px;
  max-width: 600px;
  min-height: 220px;
  background-color: rgba(27, 118, 188, 0.831372549);
  position: absolute;
  right: 0;
  z-index: 1;
  transform: translateY(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}
#main-navbar .container .description-box-shadow .description-box p {
  width: 100%;
  height: fit-content;
  margin: 0;
}

#session-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  font-size: 0.9rem;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
  max-width: 220px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  transform: translateX(100vw);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
#session-message.active {
  transform: translateX(0);
  opacity: 1;
}
#session-message.success .content i.success {
  display: block;
}
#session-message.danger .content i.danger {
  display: block;
}
#session-message.info .content i.info {
  display: block;
}
#session-message .close-button {
  display: grid;
  place-items: center;
  padding: 10px;
}
#session-message .close-button:hover {
  cursor: pointer;
  background-color: #CCCCCC;
}
#session-message .content {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
#session-message .content i {
  font-size: 1.5rem;
  display: none;
}
#session-message .content i.success {
  color: #09DA96;
}
#session-message .content i.danger {
  color: #FF1616;
}
#session-message .content i.info {
  color: #1B75BC;
}
#session-message .content .message {
  flex-grow: 1;
  font-weight: 600;
}

.news {
  padding: 20px 0;
}
.news .container .section-title {
  font-weight: 600;
  color: black;
  font-size: 1.1rem;
  letter-spacing: 2px;
}
.news .container .news-card-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.news .container .news-card-wrapper .news-card {
  background-color: whitesmoke;
  height: 220px;
  flex-basis: 450px;
  flex-grow: 1;
  position: relative;
  text-decoration: none;
  color: black;
}
.news .container .news-card-wrapper .news-card .image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.news .container .news-card-wrapper .news-card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news .container .news-card-wrapper .news-card .card-desc {
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
}
.news .container .news-card-wrapper .news-card .card-desc .news-title {
  font-size: 1rem;
  text-decoration: none;
  transition: 0.2s;
}
.news .container .news-card-wrapper .news-card .card-desc .news-title:hover {
  cursor: pointer;
  color: #1B75BC;
}
.news .container .news-card-wrapper .news-card .card-desc .date-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}
.news .container .news-card-wrapper .news-card .card-desc .date-wrapper * {
  font-size: 0.9rem;
}
.news .container .news-card-wrapper .empty-container {
  display: grid;
  place-items: center;
  height: 120px;
  width: 100%;
}
.news .container .news-card-wrapper .empty-container span {
  color: #5F5F5F;
}
.news .container .pagination-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}
.news .container .pagination-wrapper .more-news-button {
  background-color: #2A3034;
  font-weight: 600;
  color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.news .container .pagination-wrapper .more-news-button:hover {
  background-color: #1B75BC;
  color: white;
}
.news .container .pagination-wrapper .more-news-button.ico span {
  margin-left: 8px;
}
.news .container .pagination-wrapper .more-news-button.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
.news .container .pagination-wrapper .more-news-button.hovered:hover span {
  max-width: 200vw;
}

.image-container {
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  object-fit: cover;
}
.image-container:hover img {
  transform: scale(1.2);
}

.page-title {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 3px;
}

.doctor-card {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap;
}
.doctor-card .image-container {
  width: 140px;
  height: fit-content;
  max-height: 140px;
  border-radius: 6px;
}
.doctor-card .image-container img {
  aspect-ratio: 4/4;
}
.doctor-card .details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: space-between;
}
.doctor-card .details-wrapper .col-wrapper {
  display: flex;
  flex-direction: column;
}
.doctor-card .details-wrapper .col-wrapper .id {
  font-size: 0.9rem;
  color: #5F5F5F;
  letter-spacing: 1px;
}
.doctor-card .details-wrapper .col-wrapper .name {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 3px;
}
.doctor-card .details-wrapper .col-wrapper .time-placeholder {
  font-weight: 600;
  font-size: 0.9rem;
  color: #5F5F5F;
}
.doctor-card .details-wrapper .col-wrapper .time-content {
  font-weight: 600;
  color: #1B75BC;
  font-size: 1.2rem;
}
.doctor-card .details-wrapper .col-wrapper .href-button {
  text-decoration: none;
}
.doctor-card .details-wrapper .col-wrapper .href-button .edit-button {
  background-color: #09DA96;
  font-weight: 600;
  color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.doctor-card .details-wrapper .col-wrapper .href-button .edit-button:hover {
  background-color: #1B75BC;
  color: black;
}
.doctor-card .details-wrapper .col-wrapper .href-button .edit-button.ico span {
  margin-left: 8px;
}
.doctor-card .details-wrapper .col-wrapper .href-button .edit-button.hovered span {
  display: block;
  max-width: 0vw;
  overflow: hidden;
  transition: max-width ease-in-out 0.5s;
  white-space: nowrap;
  margin: 0;
  text-indent: 10px;
}
.doctor-card .details-wrapper .col-wrapper .href-button .edit-button.hovered:hover span {
  max-width: 200vw;
}
.doctor-card .details-wrapper .col-wrapper .href-button .edit-button * {
  font-size: 0.9rem;
}

#app-footer {
  background-color: #2A3034;
}
#app-footer .container {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
#app-footer .container .logo-title {
  letter-spacing: 3px;
  font-size: 1.1rem;
  color: #1B75BC;
}
#app-footer .container .logo-title .title-bold {
  color: white;
  font-weight: 600;
}
#app-footer .container .copyright {
  font-size: 1rem;
  color: white;
  opacity: 0.3;
}

#login-sidenav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 109;
  display: none;
  flex-direction: row;
  justify-content: flex-end;
  transition: all linear 0.1s;
  backdrop-filter: blur(0);
  background-color: rgba(0, 0, 0, 0);
}
#login-sidenav * {
  opacity: 0;
}
#login-sidenav.show {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
}
#login-sidenav.show .overlay {
  max-width: 100vw;
}
#login-sidenav.show .background {
  max-width: 100%;
}
#login-sidenav.show * {
  opacity: 1;
}
#login-sidenav .overlay {
  height: 100%;
  flex-grow: 1;
  width: 500px;
  max-width: 0vw;
  flex-shrink: 1;
  cursor: pointer;
}
#login-sidenav .background {
  padding: 20px;
  height: 100%;
  background-color: white;
  max-width: 0%;
  width: fit-content;
  transition: 0.1s linear 0.3s;
  width: 450px;
}
#login-sidenav .background .body {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-shrink: 1;
}
#login-sidenav .background .body .login-head-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
  row-gap: 10px;
  flex-wrap: wrap-reverse;
}
#login-sidenav .background .body .login-head-wrapper .logo-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}
#login-sidenav .background .body .login-head-wrapper .logo-wrapper:hover {
  cursor: pointer;
}
#login-sidenav .background .body .login-head-wrapper .logo-wrapper .logo-container {
  width: 40px;
  height: 40px;
}
#login-sidenav .background .body .login-head-wrapper .logo-wrapper .logo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#login-sidenav .background .body .login-head-wrapper .logo-wrapper .logo-title {
  letter-spacing: 3px;
  font-size: 1.1rem;
}
#login-sidenav .background .body .login-head-wrapper .logo-wrapper .logo-title .title-bold {
  font-weight: 600;
}
#login-sidenav .background .body .login-form-wrapper {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#login-sidenav .background .body .login-form-wrapper .form-title {
  font-size: 1rem;
  letter-spacing: 2px;
}
#login-sidenav .background .body .login-form-wrapper .login-form .form-floating {
  width: 100%;
}
#login-sidenav .background .body .login-form-wrapper .login-form .button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 25px;
}
#login-sidenav .background .body .login-form-wrapper .login-form .button-wrapper button.login-button {
  flex-grow: 1;
}
#login-sidenav .background .body .login-form-wrapper .login-form .button-wrapper .register-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
  flex-wrap: wrap;
  flex-grow: 1;
}
#login-sidenav .background .body .login-form-wrapper .login-form .button-wrapper .register-wrapper span {
  font-size: 1rem;
  flex-shrink: 1;
  white-space: break-spaces;
}
#login-sidenav .background .body .login-form-wrapper .login-form .button-wrapper .register-wrapper span a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
}
#login-sidenav .background .body .login-form-wrapper .login-form .button-wrapper .register-wrapper span a:hover {
  cursor: pointer;
  text-decoration: underline;
}
#login-sidenav .background .body .login-form-wrapper .login-form .error {
  margin-left: 10px;
  color: red;
}

.input-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 4px;
  position: relative;
}
.input-form.column-wrap {
  flex-direction: column;
  gap: 10px;
}
.input-form input {
  width: 100%;
  padding: 8px 10px;
  padding-right: 55px !important;
  border: 1px transparent solid;
  outline: none;
  border-radius: 4px;
}
.input-form input:active, .input-form input:focus, .input-form input:hover {
  border: 1px #1B75BC solid;
}
.input-form input:active + i, .input-form input:focus + i, .input-form input:hover + i {
  color: #1B75BC;
}
.input-form i {
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-right: 10px;
  display: grid;
  place-items: center;
  pointer-events: none;
  width: 60px;
}
.input-form .default-input {
  background-color: #F6F6F6;
}

.clinic-card {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
}
.clinic-card .main-icon {
  font-size: 2rem;
  color: #1B75BC;
}
.clinic-card .desc-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
  text-align: left;
}
.clinic-card .desc-wrapper .clinic-name {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 3px;
}
.clinic-card .desc-wrapper .hours {
  letter-spacing: 5px;
  font-size: 0.9rem;
}

.button-default {
  background-color: #1B75BC;
  color: white;
  outline: none;
  border: none;
  padding: 5px 20px;
  transition: all ease-in-out 0.2s;
}
.button-default:hover {
  cursor: pointer;
  background-color: #09DA96;
  color: #1B75BC;
}/*# sourceMappingURL=app.css.map */